@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom style for category btn */
.active{
    background-color: #FF6799;
    padding: 5px;
    border: none;
    font-weight: bold;
    font-size: 25px;
    
}
.in-active{
    background-color: rgb(152, 221, 238);
    padding: 5px;
    border: none;
    font-weight: 500;
    font-size: 25px;
    
}

/* style for active link */
.active-link{
    padding: 0px 15px;
    text-decoration: none;
    color: #7E90FE;
    font-size: 17px;
    font-weight: 800;
}
.nav-link{
    padding: 0px 15px;
    text-decoration: none;
    color: #ac8572;
    font-size: 16px;
    font-weight: 700;;
}

.mySwiper{
    width: 100%;
}